<%= render :partial => "sub_menu"%>
<h2><a href="#">首页</a> &raquo; <a href="#" class="active">欢迎页面</a></h2>
<%= now_location("首页","欢迎页面")%>
<div id="main">
	<span style="font-size:50px;">欢迎页面</span>
</div>